{% extends 'base.html' %}
{% block title %} Search-Result {% endblock title %}
{% block blogactive %} active {% endblock blogactive%}


{% block body %}
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">


<div class="container my-4">
    <h2>Search Results below</h2>
    {% if allPosts|length < 1 %}
    <p>No search Results found</p>
    Your Search query : <i><b>{{query}}</b></i> - did not match any results.
    <br>Suggestions :<br>
    <ul>
        <li>
        Try Different keywords or spellings.
            <li>
            Make sure all is correct.
        <li>
            Be More precise and specific.
        <li>
            Try small words and letters.
        <li>
            Do not use very long sentence.

        </li>
    </ul>
    {% endif %}
    {% for post in allPosts %}


      <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Written by {{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.content | truncatechars:100 }}</p>
          <diva class="my-3">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-danger">Lets Dive Deep to Dig More</a>
              </diva>
        </div>
      </div>
     {% endfor %}
</div>

{% endblock body %}