{% extends 'base.html' %}
{% block title %} Blog-Posts {% endblock title %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">


<div class="container my-4">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
</div>
<div class="container">
    <h2>Comments</h2>
    <form action="/blog/postComment" method="post">
        {% csrf_token %}



  <div class="form-group">
    <label for="exampleInputEmail1">Write your comments</label>
      <input type="text" class="form-control" name="comment" placeholder="Type your comment">

  </div>

        <input type="hidden" name="postSno" value="{{post.sno}}">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    {% for comment in comments %}


    <div class="row my-3">
        <div class="col-md-1">
            <img class="rounded mx-auto d-block w-100 h-100 p-1" src="/static/img/user.png" alt="user">
        </div>
            <div class="col-md-11 text-info"><strong>{{comment.user.username}}: </strong> at {{comment.timestamp}}
        <div class="text-success">{{comment.comment}}</div>
                </div>
    </div>
      {% endfor %}

</div>
{% endblock body %}