{% extends 'base.html' %}
{% block title %} BlogHome {% endblock title %}

{% block js %}
<script>
    let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText

    })
</script>
{% endblock js %}


{% block blogactive %} active {% endblock blogactive%}


{% block body %}
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">


<div class="container my-4">
    <h2>Developer Life in 2020 by Jalal's blog</h2>
    {% for post in allPosts %}


      <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Written by {{post.author}} <span class="badge badge-pill badge-info">{{post.views}} views</span></strong>
            <h3 class="mb-0"><a href="/blog/{{post.slug}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto"><div class="preview">{{post.content|safe | truncatechars:100 }}</div></p>
          <diva class="my-3">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-danger">Lets Dive Deep to Dig More</a>
              </diva>
        </div>
      </div>
     {% endfor %}
</div>

{% endblock body %}