{% extends 'base.html' %}
{% block title %} Blog-Posts {% endblock title %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">


<div class="container my-4">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>

        <p>{{post.content}}</p>
        <hr>
</div>
<div class="container">
    <h2>Comments</h2>
    <div class="row my-3">
        <div class="col-md-2 bg-info">Image Please</div>
            <div class="col-md-10 bg-warning"><b>Jalal: </b>Comment Please</div>
    </div>

</div>
{% endblock body %}